.one-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    max-width: 98%;
}

.one {
    border: 1px solid #d3d3d3;
    border-radius: .25rem;
}

.one h4 {
    margin-left: 5px;
}

.one-img {
    height: 200px;
    width: 300px;
    background-size: cover;
    background-position: center;
    background-color: #ccc;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: brown;
}

.select-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 4% 40%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

.restaurants-selected-button {
    background-color: rgb(223, 63, 63);
    border: none;
    color: white;
    padding: 5px 40%;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    /* margin: 5px 5px 0 5px; */
    margin: 5px 0 5px 0;
    width: 110%;
}